{% load staticfiles %}

{% if MENU_ACTION %}
    {% for tabRow in MENU_ACTION %}
        <div id="{{ tabRow.URL_DIV }}" style="display:none"></div>
    {% endfor %}
{% endif %}

<script>

    $(document).ready(function(){

        {% if MENU_ACTION %}
            //菜单存在多个配置表格时，循环处理表格信息
            {% for tabRow in MENU_ACTION %}
            $.get("{% url tabRow.URL_EXTEND_FUNC %}", 
                {'MENU_URL': '{{ tabRow.MENU_URL }}', 'URL_ACTION': '{{ tabRow.URL_EXTEND_ACTION }}'}, 
                function(commDBQuery){
                    $('#' + '{{ tabRow.URL_DIV }}').html(commDBQuery);
                    $('#' + '{{ tabRow.URL_DIV }}').show();
                }
            )
            {% endfor %}
        {% endif %}

    });
</script>
